#compiler-settings
directiveStartToken = %
#end compiler-settings
#ifndef __$(repo_)_iversion_h_$(timeYYYYMMDD)_
#define __$(repo_)_iversion_h_$(timeYYYYMMDD)_

enum {
	/* Note: Do not change the _vmajor, _vminor, _vbuild, _nlsr_version suffix! */

	$(repo_)_vmajor = 0,
	$(repo_)_vminor = 0,
	$(repo_)_vbuild = 0,

	// $(repo_)_nls_revision = 0x00
};


#endif
