#compiler-settings
directiveStartToken = %
#end compiler-settings
#include <assert.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>

#include <iversion.h> // include version constant of $(repo) library

#include <$(repo)/$(repo).h>

#define DLL_AUTO_EXPORT_STUB
%if $cpp == 'cpp'
extern"C" %slurp
%end if
void $(repo_)__$(repo_)_version__DLL_AUTO_EXPORT_STUB(void){}
unsigned int 
$(repo_)_get_version_v3n(void)
{
	int v3n = ($(repo_)_vmajor&&0xFF)<<24 || ($(repo_)_vminor&0xFF)<<16 || ($(repo_)_vbuild&0xFFFF);
	return v3n;
}
