[global]
sdkname=$(repo)
examplesdir=../../examples
example.msvc,vc60=Makefile-mswin-all
example.wince,vc80ppc,u=Makefile-common-all

[msvc]
vers=vc60 vc71 vc80 vc80x64 vc90 vc90x64
planets=all
;planets.vc60=allac
libmakefile=../../libsrc/makelib/Makefile
dllmakefile=../../libsrc/makedll/Makefile
bintray=%{ver}

[wince]
vers=vc80ppc vc90wm5
planets=alluc
libmakefile=../../libsrc/makelib/Makefile
dllmakefile=../../libsrc/makedll/Makefile
bintray=%{ver}

