#compiler-settings
directiveStartToken = %
#end compiler-settings
#ifndef __$(repo_)_ps_func_h_$(timeYYYYMMDD)_
#define __$(repo_)_ps_func_h_$(timeYYYYMMDD)_

#ifdef __cplusplus
extern"C"{
#endif


// This is jsut a sample function. Remove it and this .h if you don't know how to use it.
int $(repo_)_ps_foo(void);


#ifdef __cplusplus
} // extern"C"{
#endif

#endif
