#compiler-settings
cheetahVarStartToken = @
directiveStartToken = %
#end compiler-settings
<?xml version="1.0" encoding="gb2312"?>
<VisualStudioProject
	ProjectType="Visual C++"
	Version="8.00"
	Name="lib_@(repo)"
	ProjectGUID="{EB2CCB13-1BA8-44CD-B5B7-6FB5921D72D3}"
	Keyword="Win32Proj"
	>
	<Platforms>
		<Platform
			Name="Pocket PC 2003 (ARMV4)"
		/>
	</Platforms>
	<ToolFiles>
	</ToolFiles>
	<Configurations>
		<Configuration
			Name="Debug_U|Pocket PC 2003 (ARMV4)"
			OutputDirectory="$(PlatformName)\$(ConfigurationName)"
			IntermediateDirectory="$(PlatformName)\$(ConfigurationName)"
			ConfigurationType="4"
			CharacterSet="1"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
				Description="Sync output binary to binstore folder: copy &quot;$(TargetPath)&quot; ..\..\binstore"
				CommandLine="copy &quot;$(TargetPath)&quot; ..\..\binstore&#x0D;&#x0A;"
				Outputs="..\..\binstore\$(TargetName).lib"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
			/>
			<Tool
				Name="VCCLCompilerTool"
				ExecutionBucket="7"
				Optimization="0"
				AdditionalIncludeDirectories="../../libsrc/include,../../../../CommonLib/common-include,$(NLSSDK)/include"
				PreprocessorDefinitions="_DEBUG;_WIN32_WCE=$(CEVER);UNDER_CE;$(PLATFORMDEFINES);WINCE;DEBUG;_LIB;$(ARCHFAM);$(_ARCHFAM_);_UNICODE;UNICODE"
				MinimalRebuild="true"
				RuntimeLibrary="1"
				UsePrecompiledHeader="0"
				ProgramDataBaseFileName="$(PlatformName)/$(TargetFileName).pdb"
				WarningLevel="3"
				DebugInformationFormat="3"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="_DEBUG;_WIN32_WCE=$(CEVER);UNDER_CE;$(PLATFORMDEFINES)"
				Culture="1033"
				AdditionalIncludeDirectories="$(IntDir)"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLibrarianTool"
				AdditionalOptions=" /subsystem:windowsce,4.20 /machine:ARM"
				OutputFile="$(PlatformName)/@(repo)_U_D.lib"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCCodeSignTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
			<DeploymentTool
				ForceDirty="-1"
				RemoteDirectory=""
				RegisterOutput="0"
				AdditionalFiles=""
			/>
			<DebuggerTool
			/>
		</Configuration>
		<Configuration
			Name="Release_U|Pocket PC 2003 (ARMV4)"
			OutputDirectory="$(PlatformName)\$(ConfigurationName)"
			IntermediateDirectory="$(PlatformName)\$(ConfigurationName)"
			ConfigurationType="4"
			CharacterSet="1"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
				Description="Sync output binary to binstore folder: copy &quot;$(TargetPath)&quot; ..\..\binstore"
				CommandLine="copy &quot;$(TargetPath)&quot; ..\..\binstore&#x0D;&#x0A;"
				Outputs="..\..\binstore\$(TargetName).lib"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
			/>
			<Tool
				Name="VCCLCompilerTool"
				ExecutionBucket="7"
				Optimization="2"
				AdditionalIncludeDirectories="../../libsrc/include,../../../../CommonLib/common-include,$(NLSSDK)/include"
				PreprocessorDefinitions="NDEBUG;_WIN32_WCE=$(CEVER);UNDER_CE;$(PLATFORMDEFINES);WINCE;_LIB;$(ARCHFAM);$(_ARCHFAM_);_UNICODE;UNICODE"
				RuntimeLibrary="0"
				UsePrecompiledHeader="0"
				ProgramDataBaseFileName="$(PlatformName)/$(TargetFileName).pdb"
				WarningLevel="3"
				DebugInformationFormat="3"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="NDEBUG;_WIN32_WCE=$(CEVER);UNDER_CE;$(PLATFORMDEFINES)"
				Culture="1033"
				AdditionalIncludeDirectories="$(IntDir)"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLibrarianTool"
				AdditionalOptions=" /subsystem:windowsce,4.20 /machine:ARM"
				OutputFile="$(PlatformName)/@(repo)_U.lib"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCCodeSignTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
			<DeploymentTool
				ForceDirty="-1"
				RemoteDirectory=""
				RegisterOutput="0"
				AdditionalFiles=""
			/>
			<DebuggerTool
			/>
		</Configuration>
		<Configuration
			Name="Debug_U export|Pocket PC 2003 (ARMV4)"
			OutputDirectory="Pocket PC 2003 (ARMV4)\$(ConfigurationName)"
			IntermediateDirectory="Pocket PC 2003 (ARMV4)\$(ConfigurationName)"
			ConfigurationType="4"
			CharacterSet="1"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
				Description="Sync output binary to binstore folder: copy &quot;$(TargetPath)&quot; ..\..\binstore"
				CommandLine="copy &quot;$(TargetPath)&quot; ..\..\binstore&#x0D;&#x0A;"
				Outputs="..\..\binstore\$(TargetName).lib"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TargetEnvironment="1"
			/>
			<Tool
				Name="VCCLCompilerTool"
				ExecutionBucket="7"
				Optimization="0"
				AdditionalIncludeDirectories="../../libsrc/include,../../../../CommonLib/common-include,$(NLSSDK)/include"
				PreprocessorDefinitions="DLLEXPORT_@(repo)=__declspec(dllexport);_DEBUG;_WIN32_WCE=$(CEVER);UNDER_CE;$(PLATFORMDEFINES);WINCE;DEBUG;_LIB;$(ARCHFAM);$(_ARCHFAM_);_UNICODE;UNICODE"
				MinimalRebuild="true"
				RuntimeLibrary="1"
				UsePrecompiledHeader="0"
				ProgramDataBaseFileName="$(PlatformName)/$(TargetFileName).pdb"
				WarningLevel="3"
				DebugInformationFormat="3"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="_DEBUG;_WIN32_WCE=$(CEVER);UNDER_CE;$(PLATFORMDEFINES)"
				Culture="1033"
				AdditionalIncludeDirectories="$(IntDir)"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLibrarianTool"
				AdditionalOptions=" /subsystem:windowsce,4.20 /machine:ARM"
				OutputFile="$(PlatformName)/@(repo)_U_D.export.lib"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCCodeSignTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
			<DeploymentTool
				ForceDirty="-1"
				RemoteDirectory=""
				RegisterOutput="0"
				AdditionalFiles=""
			/>
			<DebuggerTool
			/>
		</Configuration>
		<Configuration
			Name="Release_U export|Pocket PC 2003 (ARMV4)"
			OutputDirectory="Pocket PC 2003 (ARMV4)\$(ConfigurationName)"
			IntermediateDirectory="Pocket PC 2003 (ARMV4)\$(ConfigurationName)"
			ConfigurationType="4"
			CharacterSet="1"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
				Description="Sync output binary to binstore folder: copy &quot;$(TargetPath)&quot; ..\..\binstore"
				CommandLine="copy &quot;$(TargetPath)&quot; ..\..\binstore&#x0D;&#x0A;"
				Outputs="..\..\binstore\$(TargetName).lib"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TargetEnvironment="1"
			/>
			<Tool
				Name="VCCLCompilerTool"
				ExecutionBucket="7"
				Optimization="2"
				AdditionalIncludeDirectories="../../libsrc/include,../../../../CommonLib/common-include,$(NLSSDK)/include"
				PreprocessorDefinitions="DLLEXPORT_@(repo)=__declspec(dllexport);NDEBUG;_WIN32_WCE=$(CEVER);UNDER_CE;$(PLATFORMDEFINES);WINCE;_LIB;$(ARCHFAM);$(_ARCHFAM_);_UNICODE;UNICODE"
				RuntimeLibrary="0"
				UsePrecompiledHeader="0"
				ProgramDataBaseFileName="$(PlatformName)/$(TargetFileName).pdb"
				WarningLevel="3"
				DebugInformationFormat="3"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="NDEBUG;_WIN32_WCE=$(CEVER);UNDER_CE;$(PLATFORMDEFINES)"
				Culture="1033"
				AdditionalIncludeDirectories="$(IntDir)"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLibrarianTool"
				AdditionalOptions=" /subsystem:windowsce,4.20 /machine:ARM"
				OutputFile="$(PlatformName)/@(repo)_U.export.lib"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCCodeSignTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
			<DeploymentTool
				ForceDirty="-1"
				RemoteDirectory=""
				RegisterOutput="0"
				AdditionalFiles=""
			/>
			<DebuggerTool
			/>
		</Configuration>
	</Configurations>
	<References>
	</References>
	<Files>
		<Filter
			Name="Source Files"
			Filter="cpp;c;cc;cxx;def;odl;idl;hpj;bat;asm;asmx"
			UniqueIdentifier="{4FC737F1-C7A5-4376-A066-2A32D752A2FF}"
			>
			<File
				RelativePath="..\..\libsrc\mswin\ps_func.@(cpp)"
				>
			</File>
			<File
				RelativePath="..\..\libsrc@(bs)@(repo)-version.@(cpp)"
				>
				<FileConfiguration
					Name="Debug_U|Pocket PC 2003 (ARMV4)"
					>
					<Tool
						Name="VCCLCompilerTool"
						UsePrecompiledHeader="0"
					/>
				</FileConfiguration>
				<FileConfiguration
					Name="Release_U|Pocket PC 2003 (ARMV4)"
					>
					<Tool
						Name="VCCLCompilerTool"
						UsePrecompiledHeader="0"
					/>
				</FileConfiguration>
				<FileConfiguration
					Name="Debug_U export|Pocket PC 2003 (ARMV4)"
					>
					<Tool
						Name="VCCLCompilerTool"
						UsePrecompiledHeader="0"
					/>
				</FileConfiguration>
				<FileConfiguration
					Name="Release_U export|Pocket PC 2003 (ARMV4)"
					>
					<Tool
						Name="VCCLCompilerTool"
						UsePrecompiledHeader="0"
					/>
				</FileConfiguration>
			</File>
		</Filter>
		<Filter
			Name="Header Files"
			Filter="h;hpp;hxx;hm;inl;inc;xsd"
			UniqueIdentifier="{93995380-89BD-4b04-88EB-625FBE52EBFB}"
			>
			<File
				RelativePath="..\..\libsrc\include@(bs)@(repo)@(bs)@(repo).h"
				>
			</File>
			<File
				RelativePath="..\..\libsrc\include\iversion.h"
				>
			</File>
%if @dirNlssvn
			<File
				RelativePath="..\..\..\common-include\msvc\ps_TCHAR.h"
				>
				<FileConfiguration
					Name="Debug_U|Pocket PC 2003 (ARMV4)"
					>
					<Tool
						Name="VCCustomBuildTool"
						Description="Performing Custom Build: copy $(InputPath) ..\..\libsrc\include"
						CommandLine="copy $(InputPath) ..\..\libsrc\include&#x0D;&#x0A;"
						Outputs="..\..\libsrc\include\ps_TCHAR.h"
					/>
				</FileConfiguration>
				<FileConfiguration
					Name="Release_U|Pocket PC 2003 (ARMV4)"
					>
					<Tool
						Name="VCCustomBuildTool"
						Description="Performing Custom Build: copy $(InputPath) ..\..\libsrc\include"
						CommandLine="copy $(InputPath) ..\..\libsrc\include&#x0D;&#x0A;"
						Outputs="..\..\libsrc\include\ps_TCHAR.h"
					/>
				</FileConfiguration>
				<FileConfiguration
					Name="Debug_U export|Pocket PC 2003 (ARMV4)"
					>
					<Tool
						Name="VCCustomBuildTool"
						Description="Performing Custom Build: copy $(InputPath) ..\..\libsrc\include"
						CommandLine="copy $(InputPath) ..\..\libsrc\include&#x0D;&#x0A;"
						Outputs="..\..\libsrc\include\ps_TCHAR.h"
					/>
				</FileConfiguration>
				<FileConfiguration
					Name="Release_U export|Pocket PC 2003 (ARMV4)"
					>
					<Tool
						Name="VCCustomBuildTool"
						Description="Performing Custom Build: copy $(InputPath) ..\..\libsrc\include"
						CommandLine="copy $(InputPath) ..\..\libsrc\include&#x0D;&#x0A;"
						Outputs="..\..\libsrc\include\ps_TCHAR.h"
					/>
				</FileConfiguration>
			</File>
			<File
				RelativePath="..\..\libsrc\include\ps_TCHAR.h"
				>
			</File>
%end if
		</Filter>
		<Filter
			Name="Resource Files"
			Filter="rc;ico;cur;bmp;dlg;rc2;rct;bin;rgs;gif;jpg;jpeg;jpe;resx;tiff;tif;png;wav"
			UniqueIdentifier="{67DA6AB6-F800-4c08-8B7A-83BB121AAD01}"
			>
		</Filter>
	</Files>
	<Globals>
	</Globals>
</VisualStudioProject>
