
Microsoft Visual Studio Solution File, Format Version 9.00
# Visual Studio 2005
Project("{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}") = "$(exe_repo)", "common$(bs)$(exe_repo)$(bs)$(exe_repo)_vc8.vcproj", "{83397069-4A59-4325-AD9B-D79071E79122}"
EndProject
Project("{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}") = "$(exe_repo)_usedll", "common$(bs)$(exe_repo)_usedll$(bs)$(exe_repo)_usedll_vc8.vcproj", "{D3BE6585-AE2B-42CA-9D5C-35A30D7AA6B7}"
EndProject
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug_U|Pocket PC 2003 (ARMV4) = Debug_U|Pocket PC 2003 (ARMV4)
		Release_U|Pocket PC 2003 (ARMV4) = Release_U|Pocket PC 2003 (ARMV4)
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{83397069-4A59-4325-AD9B-D79071E79122}.Debug_U|Pocket PC 2003 (ARMV4).ActiveCfg = Debug_U|Pocket PC 2003 (ARMV4)
		{83397069-4A59-4325-AD9B-D79071E79122}.Debug_U|Pocket PC 2003 (ARMV4).Build.0 = Debug_U|Pocket PC 2003 (ARMV4)
		{83397069-4A59-4325-AD9B-D79071E79122}.Debug_U|Pocket PC 2003 (ARMV4).Deploy.0 = Debug_U|Pocket PC 2003 (ARMV4)
		{83397069-4A59-4325-AD9B-D79071E79122}.Release_U|Pocket PC 2003 (ARMV4).ActiveCfg = Release_U|Pocket PC 2003 (ARMV4)
		{83397069-4A59-4325-AD9B-D79071E79122}.Release_U|Pocket PC 2003 (ARMV4).Build.0 = Release_U|Pocket PC 2003 (ARMV4)
		{83397069-4A59-4325-AD9B-D79071E79122}.Release_U|Pocket PC 2003 (ARMV4).Deploy.0 = Release_U|Pocket PC 2003 (ARMV4)
		{D3BE6585-AE2B-42CA-9D5C-35A30D7AA6B7}.Debug_U|Pocket PC 2003 (ARMV4).ActiveCfg = Debug_U|Pocket PC 2003 (ARMV4)
		{D3BE6585-AE2B-42CA-9D5C-35A30D7AA6B7}.Debug_U|Pocket PC 2003 (ARMV4).Build.0 = Debug_U|Pocket PC 2003 (ARMV4)
		{D3BE6585-AE2B-42CA-9D5C-35A30D7AA6B7}.Debug_U|Pocket PC 2003 (ARMV4).Deploy.0 = Debug_U|Pocket PC 2003 (ARMV4)
		{D3BE6585-AE2B-42CA-9D5C-35A30D7AA6B7}.Release_U|Pocket PC 2003 (ARMV4).ActiveCfg = Release_U|Pocket PC 2003 (ARMV4)
		{D3BE6585-AE2B-42CA-9D5C-35A30D7AA6B7}.Release_U|Pocket PC 2003 (ARMV4).Build.0 = Release_U|Pocket PC 2003 (ARMV4)
		{D3BE6585-AE2B-42CA-9D5C-35A30D7AA6B7}.Release_U|Pocket PC 2003 (ARMV4).Deploy.0 = Release_U|Pocket PC 2003 (ARMV4)
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal
