#compiler-settings
cheetahVarStartToken = @
#end compiler-settings

ifdef gmu_DIR_ROOT
  include $(gmu_DIR_ROOT)/nlscan/nlssvn-scalacon.mki
else
  $(error gmu_DIR_ROOT is not defined, You have to set up GnumakeUniproc environment to use this Makefile)
endif

gmu_PRJ_NAME = @(repo).ux-mswin-all


# User-do: List subprj makefiles here, space separated.
subprj_makefiles += \
	mswin/@(exe_repo)/Makefile \
	Makefile-common-all \
	


$(call gmuf_AddSubprjs_Concise,$(subprj_makefiles))
include $(gmu_DIR_GNUMAKEUNIPROC)/pattern1-container.mks


